fastapi
uvicorn
pydantic
pydantic_settings
python-multipart
tensorflow
opencv-python
numpy
xgboost
supabase 
python-dotenv
python-jose
requests
google-genai
sentence-transformers
protobuf==6.31.1
pypdf